.Sidebar {
    height: var(--no-navbar-height);
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    position: relative;
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
